/* Use CSS variables to declare global colors by using the css root selector which matches the documents root element,
therefore giving access to the color variables globally*/

*{
    box-sizing: border-box;
}

:root{
    /*SITE COLOR PALLETTE*/
    --coolgray: #EDEDE9;
    --graybrown: #D6CCC2;
    --lightbrown: #F5EBE0;
    --midbrown: #E3D5CA;
    --brown: #D5BDAF;

    /*Text Pallete*/
    --pink: #fcb6f0;
    --black: #000000;
}

/*Global font-family*/
html{
    font-family: Arial, Helvetica, sans-serif;
}
/*Remove outer margin of body*/
body {
    margin:0;
    
}

body,html {
    height: 100%;
    background: linear-gradient(var(--coolgray), var(--midbrown), var(--graybrown));
}
/*GRID STYLING*/
.grid-container {
    /*Allow for grid display*/
    display: grid;
    /*6 column area*/
    grid-template-areas:"navbar header header header header header"
                        ". . . content content content"
                        ". gallery gallery . . . "
                        ". projects projects projects . ."
                        ". . form form . ." ;

    /*
        grid-template-areas:"navbar navbar navbar navbar navbar navbar"
                        ". header header header . ."
                        ". . . . . ."
                        "profilepic profilepic content content content content"
                        "projects projects projects gallery gallery ."
                        ". . form form . ." ;
    */
    
    grid-template-columns: 10% 2fr 2fr 2fr 2fr 2fr;
    /*row heights*/
    grid-template-rows:100% 100% 100% 100% 100%; /*10% empty row allows centering of title*/
    
    /*
    grid-template-rows:10% 80% 10% 100% 100% 100%; /*10% empty row allows centering of title*/

    /*padding: 2%;*/
    /*justify-content: space-between;*/
    margin:0%;
    height: 100%;
    justify-content: space-between;
  }

  .grid-item {
    text-align: center;
  }

  /*----HEADER GRID----*/
  .item1 {
      grid-area: header;
      margin:2%;
      padding:0;
      /*Aligns title centrally vertically */
      align-self: center;
      text-align: left;
  }
  .item1 div h1 {
      margin:0%;
      padding:0%;
      font-size: 5rem;
  }
  .item1 div h2 {
      margin-top: 3%;

  }

  .item1 div hr {
      width:66%;
      float:left;
      height: 0.1rem;
      color:#000000; 
      margin:auto;
  }

/*----NAVBAR----*/

.item2 {
    grid-area: navbar;
    display: flex;
    opacity: 100%;
    flex-direction: column;
    width:10%;
    position:fixed;
    background-color: #000000;
    grid-template-rows: min-content;
    height: 100%;
  }
    .item2 img {
        margin: 0%;
        height: min-content;
    }

  /*Center link text*/
    .item2 a {
        padding-top: 20%;
        padding-bottom: 20%;
    }

    .navItem { 
        background-color: #000000;
        text-decoration: none;
        color: var(--brown);
        transition: 0.2s ease-in;
        font-size: 100%;
    }
    .navItem:hover {
        background-color: var(--lightbrown);
        box-shadow: 0 0 10px var(--pink);
        color:#000000;
    }

    .pageLink {
        font-size: 100%;
        font-weight: bolder;
    }

    .fa {
        font-size: 200%;
    }

    .redirectLink {
        font-style: italic;
    }

/*----CONTENT----*/

.item3 {
      grid-area: content;
      margin-top: 5%;
      padding-left:5%;
      padding-right: 5%;
      
  }

    .item3 p {
      font-size: 1.2rem;
      text-align: justify;
    }

    .item3 h2 {
      text-align: center;
    }

.item4 {
      grid-area: gallery;
  }

/*GALLERY GRID (subgrid_1)*/
.gallery {
    display: grid;
    box-sizing: border-box;
    grid-gap: 1%;
    max-width: 100%;
    margin-top:10%;
    margin-left: 7%;
    height:max-content;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: min-content min-content min-content;
    justify-content: space-evenly;
    align-content: space-between;
}

#gallery_title {
    grid-column: 1/span 7;
    grid-row: 1/ span 1;
    height: min-content;
    margin: 0%;
    text-align: right;
}

.gallery_item_1 {
    grid-column: 1 / span 7;
    grid-row: 2 / span 1;
}

.gallery_item_2 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.gallery_item_3 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.gallery_item_4 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
}

.gallery_item_5 {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
}

.gallery_item_6 {
    grid-column: 5 / span 1;
    grid-row: 3 / span 1;
}

.gallery_item_7 {
    grid-column: 6 / span 1;
    grid-row: 3 / span 1;
}

.gallery_item_8 {
    grid-column: 7 / span 1;
    grid-row: 3 / span 1;
}

.cc_cert {
    max-height: 44.16px;
}

.gallery_img {
    width:90%;
    min-height: 90%;
    border: 2px solid black;
    transition: 0.2s ease-in-out;
    max-height: 100%;
    justify-self: center;
    border-radius: 0.5rem;
}

.gallery_img:hover {
    width:100%;
    height:95%;
    box-shadow: 0 0 10px var(--black);
}

.selectedImg {
    width:100%;
    height:95%;
    box-shadow: 0 0 10px green;
    opacity: var(--black);
}


/*SET LARGE GALLERY IMAGE TO FILL GRID*/
.gallery_img_main {
    box-sizing: border-box;
    width:100%;
    height: auto;
    border-radius: 1rem;
}

/*----PROJECTS (SUBGRID 2)----*/
.item5 {
      grid-area: projects;
  }

  .projects {
      display: grid;
      grid-template-columns: 25% 75% 25%;
      /*grid-template-rows: min-content repeat(3, 1fr);*/
      grid-template-areas: "title . ."
                            "pro_img1 display_img description"
                            "pro_img1 display_img description"
                            "pro_img2 display_img description"
                            "pro_img2 display_img description"
                            "pro_img3 display_img description"
                            "pro_img3 display_img languages";
      padding: 5%;
      grid-gap: 2%;
      max-width: 100%;
      height:max-content; /*stops height stretching*/
  }

  /*Styling for all project images*/
  .pro_img {
    border: 0.1em solid black;
    padding: 1%;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0.8em var(--brown);
  }

  .pro_img:hover {
    box-shadow: 0 0 2em var(--black);
  }

  .pro_img:active {
    box-shadow: 0 0 3em var(--pink);
    opacity: 70%;
  }

  #portfolio_title {
      grid-area:title;
   /*   grid-column: 1/ span 1;
      grid-row: 1/ span 1; */
      text-align: left;
  }

  /*styling for display image*/
  .pro_disp_img {
      grid-area: display_img;
     /* grid-column: 2/ span 1;
      grid-row: 2/ span 3; */
      background-color: #000000;
      height: 100%;
      width: 100%;
      box-shadow: 0 0 1em var(--brown);
      border: 0.1em solid black;
  }

  .pro_img1 {
      grid-area: pro_img1;
   /* grid-column: 1/ span 1;
    grid-row: 2/ span 1;*/
  }

  .pro_img2 {
    grid-area: pro_img2;
   /* grid-column: 1/ span 1;
    grid-row: 3/ span 1;*/
  }

  .pro_img3 {
    grid-area: pro_img3;
    /*grid-column: 1/ span 1;
    grid-row: 4/ span 1;*/
  }

  .description {
      grid-area: description;
      padding: 0%;
      margin: 0%;
  }

  .languages {
      grid-area: languages;
      display:grid;
  }

  #pro_title {
      text-align: left;
      margin:0;
  }

  #pro_desc {
      text-align: left;
  }

/*FORM*/

.item9 {
    grid-area: form;
}

#contactform fieldset {
    display:grid;
    border-radius: 1rem;
    text-align: left;
    border:none;
}

#contactform fieldset >* {
    border-radius: 1rem;
    border: none;
    justify-self: left;
    width:70%;
}

#contactform fieldset > input {
    padding: 2.5%;
    border: 0.1rem solid var(--brown);
    background-color: rgb(255, 255, 255);    
}

#contactform fieldset > input:focus-visible {
    border: 0.1rem solid var(--pink);
}

#contactform fieldset > textarea {
    padding: 2%;
    height:100%;
    border: 0.1rem solid var(--brown);
    background-color: white;
}

/*Submit button background*/
#contactform fieldset input:last-child {
    background: var(--brown);
}

#submit {
    margin-top: 2%;
    transition-duration: 0.3s; /*For glow/hover transition*/
}
/*pink glow on hover of submit*/
#submit:hover {
    box-shadow: 0 0 5px var(--pink);
}

.subtitle {
    font-size: 2rem;
}