/* Use CSS variables to declare global colors by using the css root selector which matches the documents root element,
therefore giving access to the color variables globally*/

*{
    box-sizing: border-box;
}

:root{
    /*SITE COLOR PALLETTE*/
    --coolgray: #EDEDE9;
    --graybrown: #D6CCC2;
    --lightbrown: #F5EBE0;
    --midbrown: #E3D5CA;
    --brown: #D5BDAF;

    /*Text Pallete*/
    --pink: #fcb6f0;
    --black: #000000;

    /*Opacity Pallete*/
    --opcoolgray: #edede996;


}

/*Global font-family*/
html {
    font-family: Arial, Helvetica, sans-serif;
}

/*Remove outer margin of body*/
body {
    margin:0;
   /* font-size : clamp(0.5vw, 1vw, 1.5vw);*/
   font-size: 1vw;
}

body,html {
    height: 100%;
    background-color: linear-gradient(var(--coolgray), var(--midbrown), var(--graybrown));
}

/*Base font-size for secondary titles*/
.subtitle {
    font-size: 2vw;
}

/*Base font-size for body text*/
.item3 .bodytext {
    font-size: 1.5vw;
}


/*GRID STYLING*/
.grid-container {
    /*Allow for grid display*/
    display: grid;
    /*6 column area*/
    grid-template-areas:"navbar header header header header header header header header header header ."
                        ". about about about about about about about about about about about"
                        ". form form form form form form form form form form form" ;    
    grid-template-columns: 11% 1fr 1fr 1fr 1fr 1fr 1% 1fr 1fr 1fr 1fr 1fr;
    /*row heights*/
    grid-template-rows: 100% min-content 100%; /*10% empty row allows centering of title*/    
    margin:0%;
    height: 100%;
    justify-content: space-between;
    background-repeat: no-repeat;
    grid-gap: 1%;
  }

  .grid-item {
    text-align: center;
  }

  /*----HEADER GRID----*/
  .item1 {
      grid-area: header;
      margin:2%;
      padding:0;
      /*Aligns title centrally vertically */
      align-self: center;
      text-align: left;
  }
  .item1 div h1 {
      margin:0%;
      padding:0%;
      font-size: 8vw;
  }

  .item1 div h2 {
      margin-top: 3%;
  }

  .item1 div hr {
      width:50vw;/*Equal to title width*/
      float:left;
      color:#000000; 
      margin:auto;
  }

/*----NAVBAR----*/

.item2 {
    grid-area: navbar;
    display: flex;
    flex-direction: column; /*Displays items vertically along the column*/
    width:10%; /*10% of the page*/
    position:fixed; /* Fixes position of nav to side when scrolled*/
    background-color: #000000;
    grid-template-rows: min-content;
    height: 100%; /*Column spans whole page height */
  }

  /*Center link text vertically*/
    .item2 a {
        padding: 20%; /* Creates equal padding around nav text*/
    }

    .navItem { 
        text-decoration: none; /*Removes link decoration*/
        color: var(--brown); /*Text color*/
        transition: 0.2s ease-in; /*Transition time for hover*/
    }
    .navItem:hover {
        background-color: var(--lightbrown);
        box-shadow: 0 0 10px var(--pink);
        color:#000000;
    }

    .pageLink {
        font-weight: bolder;
    }

    /*SOCIAL MEDIA ICONS*/
    .fa {
        font-size: 200%;
    }


    .redirectLink {
        font-style: italic;
        font-weight: bolder;  
    }

/*----CONTENT----*/

.item3 {
      grid-area: content;
      padding-left:1%;
      padding-right: 3%;
  }

    .item3 p {
      text-align: justify;
    }

    .item3 h2 {
      text-align: left;
    }

.item4 {
      grid-area: gallery;
  }

 

.about_container {
      grid-area: about;
      display: grid;
      grid-template-areas: "content content content content content content content content content content content content"
                            "projects projects projects projects projects . . gallery gallery gallery gallery gallery"
                        ;
      grid-template-rows: min-content min-content;
      grid-template-columns: repeat(5, 1fr) repeat(2, min-content) repeat(5, 1fr);
      grid-gap: 1%;
      padding-left: 1%;
      padding-right: 1%;
                    }

/*GALLERY GRID (subgrid_1)*/
.gallery {
    display: grid;
    height:100%;
    width: 95%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: minmax(min-content, 1vw) 6fr 1fr;
    grid-gap: 1%;
}

#gallery_title {
    grid-column: 1/span 7;
    grid-row: 1/ span 1;
    margin: 0%;
    text-align: left;
    padding: 0%;
}

.gallery_item_1 {
    grid-column: 1 / span 7;
    grid-row: 2 / span 1;
}

.gallery_item_2 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.gallery_item_3 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.gallery_item_4 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
}

.gallery_item_5 {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
}

.gallery_item_6 {
    grid-column: 5 / span 1;
    grid-row: 3 / span 1;
}

.gallery_item_7 {
    grid-column: 6 / span 1;
    grid-row: 3 / span 1;
}

.gallery_item_8 {
    grid-column: 7 / span 1;
    grid-row: 3 / span 1;
}

.cc_cert {
    max-height: 44.16px;
}

.gallery_img {
    width:90%;
    border: 2px solid black;
    transition: 0.2s ease-in-out;
    max-height: 95%;
    justify-self: center;
    border-radius: 0.5rem;
}

.gallery_img:hover {
    width:100%;
    height:95%;
    box-shadow: 0 0 10px var(--black);
}

.selectedImg {
    width:100%;
    height:100%;
    box-shadow: 0 0 10px green;
    opacity: var(--black);
}


/*SET LARGE GALLERY IMAGE TO FILL GRID*/
.gallery_img_main {
    width:100%;
    height: 100%;
    border-radius: 1rem;
    padding: 0.5%;
}

/*----PROJECTS (SUBGRID 2)----*/
.item5 {
      grid-area: projects;
      align-self:center;
  }

  .projects {
      display: grid;
      grid-template-columns: 25% 75%;
      grid-template-rows: minmax(min-content, 1vw) min-content min-content min-content;
      grid-template-areas: "title ."
                            "pro_img1 info"
                            "pro_img2 info"
                            "pro_img3 info";
      margin: 0%;
      height: 100%; /*stops height stretching*/
      grid-gap: 2%;
      padding-left: 2%;
  }

  /*Styling for all project images*/
  .pro_img {
    border: 0.1em solid black;
    padding: 1%;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0.8em var(--brown);
  }

  .pro_img:hover {
    box-shadow: 0 0 2em var(--black);
  }

  .pro_img:active {
    box-shadow: 0 0 3em var(--pink);
    opacity: 70%;
  }

  #portfolio_title {
      grid-area:title;
   /*   grid-column: 1/ span 1;
      grid-row: 1/ span 1; */
      text-align: left;
      margin:0%;
      padding:0%;
  }

  /*styling for display image*/
  .pro_disp_img {
      grid-area: display_img;
      background-color: #000000;
      height: 100%;
      width: 100%;
      box-shadow: 0 0 1em var(--brown);
      border: 0.1em solid black;
     /* position:relative;*/
  }

  .pro_img1 {
      grid-area: pro_img1;
   /* grid-column: 1/ span 1;
    grid-row: 2/ span 1;*/
  }

  .pro_img2 {
    grid-area: pro_img2;
   /* grid-column: 1/ span 1;
    grid-row: 3/ span 1;*/
  }

  .pro_img3 {
    grid-area: pro_img3;
    /*grid-column: 1/ span 1;
    grid-row: 4/ span 1;*/
  }

  .description {
      grid-area: description;
      padding: 2%;
      padding-bottom: 1%;
      padding-top: 1%;
      margin: 0%;
      position: absolute;
      width:100%;
      height: min-content;
      background-color: var(--opcoolgray);
      left:0;
      bottom:0%;
      border: 0.1em solid #D5BDAF;
  }

        #pro_title {
            text-align: left;
            margin:0;
            padding: 0%;
            font-size: 1.5vw;
        }

        #pro_desc {
            text-align: left;
            margin:0%;
            font-size: 1vw;
        }

        /*Grid for language display*/
        .languages {
            grid-area: languages;
            display:grid;
            grid-template-areas: "lang1 lang2 lang3"
                                "key key key";
            grid-template-rows: auto;
        }

            .langitem {
                border: 0.05em solid #000000;
                height: 0.5em;
            }

            #lang1 {
                grid-area: lang1;
                background-color: blue;
                /*No border on right side as it connects to lang2 grid-area*/
                border-top-left-radius: 3em;/*Adds curve to top left border*/
                border-bottom-left-radius: 3em;/*Adds curve to bottom left border*/
                z-index: 2;
            }

            #lang2 {
                grid-area: lang2;
                background-color: red;
                z-index: 2;
            }

            #lang3 {
                grid-area: lang3;
                background-color: green;
                border-top-right-radius: 3em;
                border-bottom-right-radius: 3em;
                z-index: 2;
            }

            .key {
                grid-area: key;
                padding-top: 0%;
                padding-left: 0%;
                list-style-position: inside;
                text-align: left;
                list-style-type:none;
                display:inline-flex;
                font-size: 80%;
                width:100%;
            } 

            .keyItem {
                padding:0%;
                text-align:left;
                margin-right: 2%;
            }

            /*Set margin for each li span item between its bullet point and following bulletpoint*/
            .item5 .pro_info_cont ul.key li span {
                margin-right: 1em;
                margin-left: 0.5em;
                text-align: left;
            }

            .key li::before {
                font-weight: bold; 
                display: inline-flex;
                content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */

            }
            
            /*Set colors for each bullet point*/
            .key li:first-child::before {
                color: blue; /* Change the color */
            }

            .key li:nth-child(2)::before {
                color: red; /* Change the color */
            }

            .key li:nth-child(3)::before {
                color: green; /* Change the color */
            }

        .pro_info_cont {
            grid-area: info;
            position:relative;
        }

/*FORM*/

.item9 {
    grid-area: form;
    align-self: center;
    width: 97%;
    height: 100%;
    margin-top: 20%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

#contactform fieldset {
    border-radius: 1rem;
    text-align: left;
    border:none;
}

#contactform fieldset >* {
    border-radius: 1rem; /* Rounded input box*/
    width:100%;
}

#contactform fieldset > input {
    padding: 1.5%;
    border: 0.15vw solid var(--brown);
    background-color: rgb(255, 255, 255);    
}

#contactform fieldset > input:focus-visible {
    border: 0.15vw solid var(--pink);
}

#contactform fieldset > textarea {
    padding: 1.5%;
    height:20vw;
    border: 0.15vw solid var(--brown);
    background-color: white;
}

/*Submit button background*/
#contactform fieldset input:last-child {
    background: var(--brown);
}

#submit {
    margin-top: 2%;
    transition-duration: 0.3s; /*For glow/hover transition*/
}
/*pink glow on hover of submit*/
#submit:hover {
    box-shadow: 0 0 5px var(--pink);
}



/*MEDIA QUERIES*/

/*Tablet and smaller*/
@media (max-width: 992px) {
    
    /*increased size of h1 fonts for more visibility on smaller screens*/
    h1 {
       font-size: 7vw;
    }
    
    /*increased size of subtitles for more visibility on smaller screens*/
    .subtitle {
       font-size: 3vw;
    }

    

    /*Rearrange grid elements projects and gallery into single rows for improved visibilty*/
    .grid-container .about_container {
        grid-area: about;
        display: grid;
        max-width: 100%;
        grid-template-areas: "content content content content content content content content content content content content"
                              "projects projects projects projects projects projects projects projects projects projects projects ."
                              "gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery ."
                          ;
        grid-template-rows: auto auto auto;
        grid-template-columns: repeat(5, 1fr) repeat(2, min-content) repeat(5, 1fr);
        grid-gap: 2%;
        height: 100%;
    }

    .item3 .bodytext {
        font-size: 2.5vw;
    }

    .gallery {
        width: 100%;
    }

    .item9 {
        width: 100%;
        margin-top: 30%;
    }

    .gallery{
        margin-top: 5%;
    }
 
 }

 @media (max-width: 768px) {

    .grid-container {
        /*Allow for grid display*/
        display: grid;
        /*6 column area*/
        grid-template-areas:
                            ". header header header header header header header header header header ."
                            ". about about about about about about about about about about ."
                            ". form form form form form form form form form form ." ;
        grid-gap: 0%;
        padding-left: 0%;
        padding-right: 0%;        
    }

      .item2 {
        display: none;
    }

      .item3 {
        grid-area: content;
        padding-left:3%;
        padding-right: 0%;
    }

      .grid-container .about_container {
        max-width: 100%;
        grid-template-areas: "content content content content content content content content content content content content"
                              "projects projects projects projects projects projects projects projects projects projects projects projects"
                              "gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery"
                          ;
    }

  } 